html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

app-nav {
    display: flex;
    height: 100%;
    width: 200px;
    position: fixed;
    position: relative;
    background-color: black;
    box-shadow: 1px 0px 10px 1px #6BFF7C;
}



ul {
    list-style: none;
    margin-top: 50px;
}

* {
    box-sizing: border-box;
}

#mainContent {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

video {
    position: absolute;
    width: 200px;
    left: 200px;
    top: 200px;
}

li {
    margin: 25px 0;
}

a {
    text-decoration: none;
    color: #6BFF7C;
    font-size: 25px;
}

#timer {
    color:whitesmoke;
}

.button {
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    margin: 10px;
}